header {
background-color: #ffd1dcb6;
padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
}  
   
   /* Estilos CSS para el menú */
   .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo Barra Navegación */
body {
    margin: 0;
    padding: 0;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu li a {
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    color: #000000;
    background-color:  #fab1c3;
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Patua One', cursive;
    font-size: 14px;
    transition: background-color 0.1s;
}

.menu li a:hover {
    background-color: #ccc;
}

/* Footer */
footer {
    background-color:  #af7a86;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s;
}

.redes-sociales a:hover {
    transform: scale(1.2);
}

.derechos-autor {
    font-size: 14px;
    color: #333;
    margin: 0 20px;
}

.metodos-pago img {
    width: 30px;
    margin-right: 10px;
}

/* FORMULARIO DE PRESUPUESTO */
body {
    background-image: url(../img/Fondo_pagina_rosa.svg);
    background-repeat:no-repeat;
    background-size: cover;
}

form {
    margin: 30px auto;
    width: 30%;
    max-width: 600px;
    background-color: #f6e6f9;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Forum';
    text-align:left;
  }
  
  label {
    display:inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #903d68;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #f2d7e3;
    font-family: 'Forum';
    font-size: 16px;
    color: #903d68;
  }
  
  input[type="submit"] {
    background-color: #903d68;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Forum';
  }
  
  input[type="submit"]:hover {
    background-color: #bb6085;
  }
  
  input[type="submit"]:focus {
    outline: none;
  }
/* Seccion sobre nosotros  */
#sobre_nosotros{
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    height: 40%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 5%;

}
.p-sobre-nosotros{
    background-color: #f8e9f0; 
    padding: 3%;
    border-radius: 5px;
    border: solid #bb6085;
    margin: 2%;
    box-shadow: 5px 5px 5px #bb6085;
    letter-spacing: 1px;
    text-align: justify;

}
#Persona{
    background-color: #f8e9f0;
    border-radius: 5px;
    width: 550px;
    height: 400px;
    size: 70%;
    align-self: center;
    padding-left: 25px;
}

/* Seccion Cursos y Taller  */
.Imagen-tarjeta{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 2%;

}
.container{
    width: 100vh;
    height: 900px;
    margin-top: 50px;
}
.tarjetas{
    display: flex;
    padding: 4em;
    align-items: center;
    margin-left: 5%;
}
.tarjeta{
    background-color: #fff;
    height: 550px;
    width: 350px;
    margin: 15px;
    padding: 25px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    float: left;

}
.tarjeta h3{
    text-align: center;
    font-size: 2em;
    color: #bb6085;
    font-weight: bold;
    margin: 2%;
    letter-spacing: 1px;
}
.button{
    background-color: #bb6085;
    color: #fff;
    font-size: 1em;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    
}
.tarjeta p {
    font-family:'Poppins', sans-serif;
    font-size: 1em;
    color: black;
}
.container h2{
    text-align: center;
    font-size: 2em;
    color: #bb6085;
    font-weight: bold;
    margin: 2%;
    letter-spacing: 2px;
   
}
.h2titulo{
    display: inline;
    position:sticky ;
    font-family: 'Poppins', sans-serif;
    opacity: 70%;
    background-color: #903d68;
}
.tarjeta:hover{
    size: 110%;
    box-shadow: 5px 5px 5px #bb6085;
    transform: scale(1.1);
    transition: transform .2s;
    cursor: pointer;
}
.button:hover{
    opacity: 80%;
    transition: .5s;

}
/* Seccion Productos */
.categorias{
    width: 1200px;
    height: 750px;
    display: flex;
    justify-content: space-around;
    margin: 5%;
    padding: 25px;
}
.producto{
    width: 500px;
    height: 350px;
    margin: 25px;
    background-color: #fff;
    padding: 25px;
    margin: 0;
    align-items: center;
    text-align: center;
    border-radius: 5px;


}
.imgcategoria{
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}
.button a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #bb6085;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}
.producto:hover{
    size: 110%;
    box-shadow: 5px 5px 5px #bb6085;
    transform: scale(1.1);
    transition: transform .2s;
    cursor: pointer;


}


